<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="static/CDC.png">
  <title>Board Members</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
  <link href="static/css/style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>
<div class="p-3">

{% include "navbar.html" %}

<!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>

<!-- team starts -->
  <section class="team section-padding" id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-header text-center pb-5">
            <h2>Board Members</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center border-info shadow-lg">
            <div class="card-body" style="height: 28rem;">
              <img alt="" class="img-fluid rounded-circle" src="static/board/vivek1.jfif" style="height: 15rem; width: 13rem;" >
              <h3 class="card-title py-2" style="color:#0d3934; height: 5rem;">Dr. Vivek Agrawal</h3>
              <!-- <p class="card-text">Hon. Chairman</p> -->
              <p class="socials">
                <a href="https://twitter.com/vivekjaipur" target="_blank"><i class="bi bi-twitter text-dark mx-1"></i></a>
                 <i class="bi bi-facebook text-dark mx-1"></i>  <a href="https://www.linkedin.com/in/dr-vivek-s-agrawal-28044524/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                </p>
              <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" style="color: black; font-weight: bold;">Bio</button>

              <!-- model start -->

              <div class="modal fade " id="staticBackdrop1" data-bs-backdrop="static1" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel1" style="font-size:15px; font-weight:bold;">Dr. Vivek Agarwal</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              <p>
                Dr. Agarwal has been working in the field of waste management for over two decades now. He holds MBBS from the Sawai Man Singh Medical College, and a degree in MBA and BJMC. He is an active part of the International Solid Waste Association, and Chair of the working group on Collection and Transportation Technology. Dr. Agarwal has also lent his name to numerous associations in the field of waste management, and has been an architect of developing social NGOs addressing global causes.
              </p>
              <p>
                Annakshetra Foundation and Center for Development Communication are just a couple of initiatives among the several others that have taken the shade under the larger umbrella of CDC Group.  With his experience Dr. Agarwal brings an additional insight into the field of waste management in India, while giving us a vision of the future of efficient waste management techniques around the world. As the Managing Director of Greentech Infra Pvt. Ltd., Dr. Agarwal is providing guidance to the team of expert waste managers who are thriving to provide customized waste management solutions to the global community.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- model end -->

            </div>
          </div>
        </div>


        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center border-info shadow-lg">
            <div class="card-body" style="height: 28rem;">
              <img alt="" class="img-fluid rounded-circle" src="static/board/pushkar1.jfif" style="height: 15rem; width: 13rem;">
              <h3 class="card-title py-2" style="color:#0d3934; height: 5rem;">Pushkar Pradhan</h3>
              <!-- <p class="card-text">Hon. Trustee</p> -->
              <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <a href="https://www.linkedin.com/in/pushkarpradhan-sustainabilitysolutionsexpert/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a> </p> </p>
              <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" style="color: black; font-weight: bold;">Bio</button>


              <!-- model start -->

              <div class="modal fade " id="staticBackdrop2" data-bs-backdrop="static2" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel2" style="font-size:16px; font-weight:bold;">Pushkar Pradhan</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              <p>
                He is the CEO & Founder at ECOSENSE ENVIRO SOLUTIONS PRIVATE LIMITED,
                Pushkar is an avid environmentalist and has a passion in adopting new technologies to solve issues and bring about a transformation. He has rich and varied experience while working in various industries such as advertising, manufacturing, consulting, renewable energy (solar), waste management, government, pharmaceuticals.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- model end -->

            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center border-info shadow-lg">
            <div class="card-body" style="height: 28rem;">
              <img alt="" class="img-fluid rounded-circle" src="static/board/karthik.jpg" style="height: 15rem; width: 13rem;">
              <h3 class="card-title py-2" style="color:#0d3934; height: 5rem;">Dr. Karthik Rajendran</h3>
              <!-- <p class="card-text">Trustee Secretary</p> -->
              <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <a href="https://www.linkedin.com/in/dr-krajendran/?originalSubdomain=in" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a> </p> 
              <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop3" style="color: black; font-weight: bold;">Bio</button>

              <!-- model start -->

              <div class="modal fade " id="staticBackdrop3" data-bs-backdrop="static3" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel3" style="font-size:16px; font-weight:bold;">Dr. Karthik Rajendran</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              <p>
               Dr. Karthik Rajendran has been working as an Associate Dean - QAR, as Associate Professor and Head at SRM University, AP - Amaravati. 
                He has earned doctorate in Chemical Engineering, working in the field of techno-economic analysis of biomass and waste for the production of bioenergy and biochemicals. He has experience of Over 6 years in industrial research projects focussing on process modeling, systems analysis, and anaerobic digestion. Also he has expertise in process modeling & feasibility analysis with an in-depth knowledge of uncertainty analysis.

              He is experience with state-of-the-art tools such as Superpro Designer, Aspen Plus, and Open LCA. Strong hands-on laboratory experience in handling two-stage and geo-membrane anaerobic digester systems. He Published 16 research articles in high-impact journals in the field of energy & fuels.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- model end -->

            </div>
          </div>
        </div>




        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center border-info shadow-lg">
            <div class="card-body" style="height: 28rem;">
              <img alt="" class="img-fluid rounded-circle" src="static/board/aditi.jpg" style="height: 15rem; width: 13rem;">
              <h3 class="card-title py-2" style="color:#0d3934; height: 5rem;">Aditi Ramola</h3>
              <!-- <p class="card-text">Hon. Trustee</p> -->
              <p class="socials"> <a href="https://twitter.com/adtrml" target="_blank"><i class="bi bi-twitter text-dark mx-1"></i></a> <i class="bi bi-facebook text-dark mx-1"></i> <a href="https://www.linkedin.com/in/aditi-ramola/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a> 


              </p>
              <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop4" style="color: black; font-weight: bold;">
              Bio</button>


              <!-- model start -->

              <div class="modal fade " id="staticBackdrop4" data-bs-backdrop="static4" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel4" style="font-size:16px; font-weight:bold;">Aditi Ramola</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              <p>
                Aditi Ramola joined ISWA in February 2016 where she leads the technical team and has been responsible for developing international partnerships and cooperation projects with the CCAC, UNEP, UH Habitat etc. She has an MSc in Environmental Technology and International Affairs from the Vienna University of Technology and the Diplomatic Academy of Vienna where she focused on the energy analysis of plastic waste management in her thesis. She has many years of experience in both intergovernmental orgnisations as well as within the private sector.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- model end -->


            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <!-- Add gap -->
    <div class="mt-5 col-md-12">
    </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center border-info shadow-lg">
            <div class="card-body" style="height: 28rem;">
              <img alt="" class="img-fluid rounded-circle" src="static/board/sunita.jpg" style="height: 15rem; width: 13rem;">
              <h3 class="card-title py-2" style="color:#0d3934; height: 5rem;">Dr. Sunita Varjani</h3>
              <!-- <p class="card-text">Trustee Secretary</p> -->
              <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <a href="https://www.linkedin.com/in/dr-sunita-varjani-86295727/" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a> </p> 
              <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop5" style="color: black; font-weight: bold;">Bio</button>

              <!-- model start -->

              <div class="modal fade " id="staticBackdrop5" data-bs-backdrop="static5" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel5" style="font-size:16px; font-weight:bold;">Dr Sunita Varjani</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              <p>
               Dr. Sunita Varjani is currently working as a researcher at the City University of Hong Kong, Hong Kong. She has worked as Scientific Officer at Gujarat Pollution Control Board, Gandhinagar, Gujarat, India. Her major areas of research are Industrial & Environmental Biotechnology and Wastewater Treatment. 
               Dr. Varjani has worked as visiting scientist at EPFL, Lausanne, Switzerland. She has 480 publications, including research and review papers, books, book chapters and conference communications. She has been enlisted as a “Highly Cited Researchers 2022” list published by Clarivate’s Web of Science.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- model end -->

            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="card text-center border-info shadow-lg">
            <div class="card-body" style="height: 28rem;">
              <img alt="" class="img-fluid rounded-circle" src="static/board/vijay.jpg" style="height: 15rem; width: 13rem;" >
              <h3 class="card-title py-2" style="color:#0d3934; height: 5rem;">Dr. Vijai Singhal</h3>
              <!-- <p class="card-text">Hon. Trustee</p> -->
              <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i class="bi bi-facebook text-dark mx-1"></i> <a href="https://www.linkedin.com/in/dr-vijai-singhal-59ab103a/?originalSubdomain=in" target="_blank"><i class="bi bi-linkedin text-dark mx-1"></i></a></p>
              <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop6" style="color: black; font-weight: bold;">Bio</button>


              <!-- model start -->

              <div class="modal fade " id="staticBackdrop6" data-bs-backdrop="static6" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel6" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel6" style="font-size:16px; font-weight:bold;">Dr. Vijai Singhal</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              <p>
               Dr. Vijai Singhal has completed B.E.(Hons) from BITS, Pilani in Civil Engineering and M.E.(Environmental Engineering) from Sardar Patel University, Vallabh Vidya Nagar. Then he pursued Ph.D from Malviya National Institute of Technology (MNIT), Jaipur in groundwater modeling. He has Worked with Rajasthan State Pollution Control Board since 1984 in various capacities and retired from RSPCB as Chief Environmental Engineer on 31.03.2022 after completing more than 37 years of service.

               Dr. Singhal has work experience in the field of industrial pollution control, environmental governance, natural resource management, solid waste management, Climate Change, green buildings, ground water modeling and other environmental management sectors. He has extensively worked on software like GIS and MODFLOW.

              He Was technical head of Rajasthan State Pollution Control Board for about 7 years as Chief Environmental Engineer and has been a catalyst in promoting utilization of hazardous waste for co processing in cement industries in the state.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-info" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- model end -->
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section><!-- team ends -->


  <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>

{% include "footer.html" %}
</div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>