<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/logo.png">
    

    <title>ICWM</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="p-3">

	
	<div class="">
	{% include "navbar.html" %}</div>

<!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>


<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators" >
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" >
    <div class="carousel-item active" >
      <img src="static/home/slide1.jpeg" class="d-block w-100" alt="..." style="width:200 px; height:700px;">
      <div class="carousel-caption d-none d-md-block">
        <h2>For Better Waste Managers</h2>
        <p>Search no more ! What you ever want for a Waste Manager is here.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/home/slide2.jpeg" class="d-block w-100" alt="..." style="width:200 px; height:700px;">
      <div class="carousel-caption d-none d-md-block">
        <h2>Best Campus Facility in the World</h2>
        <p>We offer the best infrastructure to give you the best oppurtunities and comfort during your study.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static/home/slide3.jfif" class="d-block w-100" alt="..." style="width:200 px; height:700px;">
      <div class="carousel-caption d-none d-md-block">
        <h2>Learn Waste Management from the best Faculty</h2>
        <p>We offer the best teachers to give you the best oppurtunities.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<!-- Add gap -->
    <div class="mt-5 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>


<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>PIONEERS IN WASTE MANAGEMENT</h3>
      <p>As the leading professional body in sustainability development and waste management sector, our aim is to strive for continuous improvement in resource utilization, sustainable waste management and build capacity of waste managers.</p>
    </div>
   
    
  </div>
</div>

<!-- Add gap -->
    <div class="mt-5 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>


<div class="container text-center" style="background-color:darkgoldenrod; padding-top: 20px; padding-bottom: 20px;" >

	

	<h2 class="text-white">WE BELIEVE THAT EDUCATION IS FOR EVERYONE</h2>
	<p></p>

	<h4 class="text-white">There are many features available to help you secure your future</h4>

	

</div>
<!-- Add gap -->
    <div class="mt-5 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>

<div class="container text-center">
	
		<h2>OUR PARTNERS</h2>
	<!-- Add gap -->
    <div class="mt-5 col-md-12">
    </div>

		<div class="container">
  <div class="row">
    <div class="col"><a href="https://www.iswa.org/" target="_blank"> </i> <img src="static/logo/iswa.png" style="width:200px; height: 80px;"></a></div>
    <div class="col"><a href="https://cdcindia.org/" target="_blank"><img src="static/logo/CDC.png" style="width:150px; height: 100px;"></a></div>
    <div class="col"><a href="https://greentechinfra.com/" target="_blank"><img src="static/logo/greentech.png" style="width:200px; height:80px;"></a></div>
    <div class="col"><a href="https://www.globalschool.edu.in/" target="_blank"><img src="static/logo/gps.png" style="width:200px; height: 80px;"></a></div>
    
    
  </div>

<!-- Add gap -->
    <div class="mt-5 col-md-12">
    </div>


  <div class="row">
    <div class="col"><a href="https://annakshetra.org/" target="_blank"><img src="static/logo/annakshetra.png" style="width:200px; height: 80px;"></a></div>
    <div class="col"><img src="static/logo/Krishna.png" style="width:200px; height: 80px;"></a></div>
    <div class="col"><a href="https://idm.org.in/" target="_blank"><img src="static/logo/idm.png" style="width:200px; height: 100px;"></a></div>
    <!-- <div class="col"><img src="static/logo/greentech.png" style="width:200px; height:80px;"></div> -->
    
    
  </div>
</div>
		

</div>

<!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>




<div class="">
	{% include "footer.html" %}</div>




</div>


    
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>




</body>
</html>