<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/logo.png">
    

    <title>Knowledge Sharing</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="p-3">

	<div class="">
	{% include "navbar.html" %}</div>

<!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>


    <div class="container-fluid">

    <h2 class="text-center"><u>Capacity Building and Knowledge Sharing</u></h2>

    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-5 col-md-12">
    </div>



<div class="container-fluid">
  <div class="row">
    <div class="col-6">
        
    </div>
    <div class="col-6">
    </div>
</div>
</div>






<p>
    
  a.The focus area of ICWM involves waste management as a broad theme with sub themes like;
  <br>

- Municipal solid waste management<br>
- Biomedical waste management<br>
- Hazardous waste management<br>
- Waste water<br>
- Industrial waste<br>
- Construction and demolition waste, etc.<br>
<br><br>
b.These themes could be dealt with in more precise concepts such as:<br>

- Emerging low cost technologies in waste management sector<br>
- Sustainable waste management<br>
- Landfilling: a solution to waste management or a time bomb waiting to explode<br>
- Legal aspects of waste management<br>
- Community involvement in waste management: need of the hour<br>
- Waste water: can we manage to waste water first and then think of managing it?<br>
- Waste as a resource: the 4R concept; Reduce, Reuse, Recycle and Recover<br>
- Significance of proper Collection and Transportation mechanisms for efficient processing and disposal of waste<br>
- Role of the informal sector: its concerns and exploitation<br>
- Development of Waste Management Sector from a burden on society to successful Business Model making profits<br><br>
c.Other topics will also be included for capacity building programmes and certification courses.<br><br>

d.Members are also welcome to suggest new topics for capacity building activities.<br><br>

e.Members can also submit proposals to start a new ICWM chapter in their organization or region with an efficient team which would help us increase our reach to more and more people involved in the sector and fulfill our objectives.<br><br>

f.Training courses and capacity building activities will also be available in the form of online sessions so that members can save their precious time and also costs.<br><br>
</p>
    




   

    </div>



<!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>




<div class="">
	{% include "footer.html" %}</div>




</div>


    
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>




</body>
</html>