<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/logo.png">
    

    <title>Publications</title>

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div class="p-3">

	<div class="">
	{% include "navbar.html" %}</div>

<!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>


    <div class="container text-center">

    <h2><u>Publication</u></h2>

    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>


<p>
    
   1. A quarterly journal will be published showcasing innovations in the waste management sector, emerging trends, best practices, ways forward, current scenario, SWAT analysis and other issues related to Waste Management Sector.
   <br><br>

2. The first journal from ICWM could showcase best practices from across the country for an efficient waste management system, the approach acquired at different places and state-of-art models developed which proved to be best practice.
<br><br>
3. A monthly newsletter will also be published keeping all its members updated with the proceedings of the forum and providing relevant information regarding future prospects and events.
</p>
    




   

    </div>



<!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>
    <!-- Add gap -->
    <div class="mt-3 col-md-12">
    </div>




<div class="">
	{% include "footer.html" %}</div>




</div>


    
    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>